@model CineProyecto.Models.Funcion

@{
    ViewBag.Title = "Detalles de la Función";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center my-4">Detalles de la Función</h2>

<div class="container mt-4">
    <h4>Información de la Función</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-right">Tipo de Función:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreFuncion)</dd>
    </dl>
</div>

<div class="container mt-4">
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdFuncion }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary ml-2" })
</div>
