@model CineProyecto.Models.Cliente

@{
    ViewBag.Title = "Detalles del Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center my-4">Detalles del Cliente</h2>

<div class="container mt-4">
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-right">Nombre del Cliente:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreCliente)</dd>

        <dt class="col-sm-2 text-right">CI Cliente:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CiCliente)</dd>
    </dl>
</div>

<div class="container mt-4">
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCliente }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary ml-2" })
</div>
